<div class="page-resetpassword">
    <div class="main-body">
        <div class="container vertical-center">
            <div class="form-container" style="max-width: 500px;">
                <h1 class="text-center" style="margin-bottom:25px; color: white;"><i class="fa fa-legal"></i> &nbspStarterKit</h1>
                <div class="well" style="padding: 10px 50px;">
                    <div class="login_panel">
                        <h2 class="text-center" style="margin-bottom: 20px;">Choose a new password</h2>
                        <hr>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="fa fa-lock"></span>
                                        </span>
                                        <input type="password" ng-model="vm.user.password" class="form-control" placeholder="New password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="fa fa-lock"></span>
                                        </span>
                                        <input type="password" ng-model="vm.user.confirmPassword" class="form-control" placeholder="Confirm password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="" ng-click="vm.resetPassword()" class="btn btn-primary btn-lg btn-block">Change my password</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>