
<div class="row">
    <!-- item -->
    <div ng-repeat="plan in ::vm.plans">
        <div class="col-md-4 text-center">
            <div class="panel panel-{{plan.CSSClass}} panel-pricing">
                <div class="panel-heading">
                    <i class="fa fa-desktop"></i>
                    <h3>{{plan.Name}}</h3>
                </div>
                <div class="panel-body text-center">
                    <p><strong>$ {{plan.AmountInDollars}} / {{plan.Interval}}</strong></p>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-{{plan.CSSClass}}" ng-click="vm.setPlan(plan)">BUY NOW!</a>
                </div>
            </div>
        </div>
    </div>
</div>
