################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.user
*.com
*.class
*.dll
*.exe
*.pdb
*.cache
*.suo
bin/
obj/
TestResults/
App_Data/
packages/