<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DefaultConnections" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LegalIt-20150429120137.mdf;Initial Catalog=aspnet-LegalIt-20150429120137;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add
      name="DefaultConnections"
      xdt:Transform="Replace"
      xdt:Locator="Match(name)"
      connectionString="Server=319b6cfa-9ccb-4142-a0e6-a4dd00e68edf.sqlserver.sequelizer.com;Database=db319b6cfa9ccb4142a0e6a4dd00e68edf;User ID=rvejqeygquukjadq;Password=LzwSUrpsAr4PbfMqpDgjYaRzFTU7Mh7FzphPJVWyHZ5vpqnHkFjY37WLQ6mbErMt;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
