<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="DefaultConnections"
      xdt:Transform="Replace"
      xdt:Locator="Match(name)"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StarterKit-20150429120137.mdf;Initial Catalog=aspnet-StarterKit-20150429120137;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="AppHarborConnection" connectionString="Server=e0f70677-ec14-4afc-ab16-a4840165d96b.sqlserver.sequelizer.com;Database=dbe0f70677ec144afcab16a4840165d96b;User ID=twclqcgysrragjuf;Password=x4UqtDWwcqh5uS7fpRfT3c7CWUmC3jaYdFv2dDopeQxv7sK8RJSFresv6rBFrtC2;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
